<div class="modal-body">
    <h5>Mit Canasta-Blatt</h5>
    <dl class="row">
        <dt class="col-sm-3">2</dt>
        <dd class="col-sm-9">Linker Nachbar muss 2 Schlücke trinken.</dd>

        <dt class="col-sm-3">3</dt>
        <dd class="col-sm-9">Selbst 3 Schlücke trinken.</dd>

        <dt class="col-sm-3">4</dt>
        <dd class="col-sm-9">Das andere Geschlecht trinkt.</dd>

        <dt class="col-sm-3">5</dt>
        <dd class="col-sm-9">Du darfst ein Wort verbieten.</dd>

        <dt class="col-sm-3">6</dt>
        <dd class="col-sm-9">Es wird Reihum gezählt. Anstatt der Zahlen, die 6 enthalten oder durch 6 teilbar sind (6, 12, 16, 18, ...) muss etwas anderes gesagt werden. Schnapszahlen (11, 22, 33) sind ebenfalls verboten.</dd>

        <dt class="col-sm-3">7</dt>
        <dd class="col-sm-9">Verteile 7 Schlücke.</dd>

        <dt class="col-sm-3">8</dt>
        <dd class="col-sm-9">Wähle deinen Trinkbuddy.</dd>

        <dt class="col-sm-3">9</dt>
        <dd class="col-sm-9">Nenne ein Wort, die anderen müssen darauf reimen.</dd>

        <dt class="col-sm-3">10</dt>
        <dd class="col-sm-9">Wähle eine Kategorie, zu der jeder was sagen muss.</dd>

        <dt class="col-sm-3">Bube</dt>
        <dd class="col-sm-9">Denk dir eine Regel aus.</dd>

        <dt class="col-sm-3">Dame</dt>
        <dd class="col-sm-9">Stell deinen Mitspielern Fragen, wer antwortet muss trinken.</dd>

        <dt class="col-sm-3">König</dt>
        <dd class="col-sm-9">Fülle etwas in das Glas, was in der Mitte steht. Der letzte, der den König zieht, muss das Glas leer trinken.</dd>

        <dt class="col-sm-3">Ass</dt>
        <dd class="col-sm-9">Jeder trinkt. Erst wenn die erste Person wieder mit dem Trinken aufhört, darf auch die zweite Person das Glas wieder absetzen. So geht’s immer weiter, bis die letzte Person im Uhrzeigersinn das Glas abgesetzt hat.</dd>
    </dl>

    <h5>Mit Skat-Blatt</h5>
    <dl class="row">
        <dt class="col-sm-3">7</dt>
        <dd class="col-sm-9">Verteile 7 Schlücke.</dd>

        <dt class="col-sm-3">8</dt>
        <dd class="col-sm-9">Wähle deinen Trinkbuddy.</dd>

        <dt class="col-sm-3">9</dt>
        <dd class="col-sm-9">Nenne ein Wort, die anderen müssen darauf reimen.</dd>

        <dt class="col-sm-3">10</dt>
        <dd class="col-sm-9">Wähle eine Kategorie, zu der jeder was sagen muss.</dd>

        <dt class="col-sm-3">Bube</dt>
        <dd class="col-sm-9">Denk dir eine Regel aus.</dd>

        <dt class="col-sm-3">Dame</dt>
        <dd class="col-sm-9">Stell deinen Mitspielern Fragen, wer antwortet muss trinken.</dd>

        <dt class="col-sm-3">König</dt>
        <dd class="col-sm-9">Fülle etwas in das Glas, was in der Mitte steht. Der letzte, der den König zieht, muss das Glas leer trinken.</dd>

        <dt class="col-sm-3">Ass</dt>
        <dd class="col-sm-9">Jeder trinkt. Erst wenn die erste Person wieder mit dem Trinken aufhört, darf auch die zweite Person das Glas wieder absetzen. So geht’s immer weiter, bis die letzte Person im Uhrzeigersinn das Glas abgesetzt hat.</dd>
    </dl>

    <h5>Alternative Zusatzregeln</h5>
    <ol>
        <li>Wird der Ring unterbrochen, muss das eigene Getränk geext werden.</li>
        <li>Es darf nicht „du“ gesagt werden.</li>
        <li>Es darf nicht „trinken“ gesagt werden.</li>
        <li>Es darf auf niemanden gezeigt werden.</li>
    </ol>
</div>