<body class="bg-dark">

    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{{ url_for('eaglegang') }}">
                <img src="https://i.makeagif.com/media/11-13-2017/bVTzsy.gif" alt="" width="15%" class="d-inline-block align-text-top">
                Eaglegang
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == url_for('eaglegang')%}active{%endif%}" href="{{ url_for('eaglegang') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {%if request.path == url_for('impressum')%}active{%endif%}" href="{{ url_for('impressum') }}">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>