{% include "elements/header.html" %}
{% include "elements/navbar.html" %}

    <div class="px-3 py-3">
        <div class="p-5 mb-4 bg-primary rounded-3 overlay" style="background-image: url({{ url_for('static', filename='img/Money4.png') }}); background-filter: blur(50px);">
            <div class="container-fluid py-5" >
                <div class="fw-bold">
                    <h1 class="display-1 text-light text-end">
                        Willkommen auf dem Eaglegang-Dashboard!
                    </h1>
                    <div class="text-end">
                        <span class="badge bg-info">v0.3</span>
                        <span class="badge bg-warning">BETA</span>
                    </div>


                </div>

            </div>
            <form method="get" action="https://www.ecosia.org/search">
                <div class="input-group mb-3 container-sm">
                    <input type="text" class="form-control" name="q" placeholder="Ecosia auf Nachhaltigkeitsbasis." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
        </div>
        
        <div class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-2 row-col-sm-1">
            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='img/Money2.png') }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Respektschellenverteilungs-Gesetz</h5>
                        <p class="card-text">Hier kann das ResVG eingesehen werden.</p> 
                    </div>
                    <div class="card-footer bg-transparent border-success"><a href="https://niggipi.duckdns.org/s/9x3WDq9SXDQ4kLS" class="btn btn-primary">Ansehen</a></div>
                </div>
            </div>
            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/Pile_of_playing_cards.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Kings Cup-Regeln</h5>
                        <p class="card-text">Na? Hast du wieder vergessen, was man machen muss, wenn man den Buben gezogen hat?</p>
                    </div>
                    
                    <div class="card-footer bg-transparent border-success">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#KingsCup">
                        Noch mal nachlesen...
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="KingsCup" tabindex="-1" aria-labelledby="KingsCup" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Regeln</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Mit Canasta-Blatt</h5>
                                        <dl class="row">
                                            <dt class="col-sm-3">2</dt>
                                            <dd class="col-sm-9">Linker Nachbar muss 2 Schlücke trinken.</dd>

                                            <dt class="col-sm-3">3</dt>
                                            <dd class="col-sm-9">Selbst 3 Schlücke trinken.</dd>
                                            
                                            <dt class="col-sm-3">4</dt>
                                            <dd class="col-sm-9">Das andere Geschlecht trinkt.</dd>
                                            
                                            <dt class="col-sm-3">5</dt>
                                            <dd class="col-sm-9">Du darfst ein Wort verbieten.</dd>
                                            
                                            <dt class="col-sm-3">6</dt>
                                            <dd class="col-sm-9">Es wird Reihum gezählt. Anstatt der Zahlen, die 6 enthalten oder durch 6 teilbar sind (6, 12, 16, 18, ...) muss etwas anderes gesagt werden. Schnapszahlen (11, 22, 33) sind ebenfalls verboten.</dd>
                                            
                                            <dt class="col-sm-3">7</dt>
                                            <dd class="col-sm-9">Verteile 7 Schlücke.</dd>
                                            
                                            <dt class="col-sm-3">8</dt>
                                            <dd class="col-sm-9">Wähle deinen Trinkbuddy.</dd>
                                            
                                            <dt class="col-sm-3">9</dt>
                                            <dd class="col-sm-9">Nenne ein Wort, die anderen müssen darauf reimen.</dd>
                                            
                                            <dt class="col-sm-3">10</dt>
                                            <dd class="col-sm-9">Wähle eine Kategorie, zu der jeder was sagen muss.</dd>
                                            
                                            <dt class="col-sm-3">Bube</dt>
                                            <dd class="col-sm-9">Denk dir eine Regel aus.</dd>
                                            
                                            <dt class="col-sm-3">Dame</dt>
                                            <dd class="col-sm-9">Stell deinen Mitspielern Fragen, wer antwortet muss trinken.</dd>
                                            
                                            <dt class="col-sm-3">König</dt>
                                            <dd class="col-sm-9">Fülle etwas in das Glas, was in der Mitte steht. Der letzte, der den König zieht, muss das Glas leer trinken.</dd>
                                            
                                            <dt class="col-sm-3">Ass</dt>
                                            <dd class="col-sm-9">Jeder trinkt. Erst wenn die erste Person wieder mit dem Trinken aufhört, darf auch die zweite Person das Glas wieder absetzen. So geht’s immer weiter, bis die letzte Person im Uhrzeigersinn das Glas abgesetzt hat.</dd>
                                        </dl>

                                        <h5>Mit Skat-Blatt</h5>
                                        <dl class="row">
                                            <dt class="col-sm-3">7</dt>
                                            <dd class="col-sm-9">Verteile 7 Schlücke.</dd>
                                            
                                            <dt class="col-sm-3">8</dt>
                                            <dd class="col-sm-9">Wähle deinen Trinkbuddy.</dd>
                                            
                                            <dt class="col-sm-3">9</dt>
                                            <dd class="col-sm-9">Nenne ein Wort, die anderen müssen darauf reimen.</dd>
                                            
                                            <dt class="col-sm-3">10</dt>
                                            <dd class="col-sm-9">Wähle eine Kategorie, zu der jeder was sagen muss.</dd>
                                            
                                            <dt class="col-sm-3">Bube</dt>
                                            <dd class="col-sm-9">Denk dir eine Regel aus.</dd>
                                            
                                            <dt class="col-sm-3">Dame</dt>
                                            <dd class="col-sm-9">Stell deinen Mitspielern Fragen, wer antwortet muss trinken.</dd>
                                            
                                            <dt class="col-sm-3">König</dt>
                                            <dd class="col-sm-9">Fülle etwas in das Glas, was in der Mitte steht. Der letzte, der den König zieht, muss das Glas leer trinken.</dd>
                                            
                                            <dt class="col-sm-3">Ass</dt>
                                            <dd class="col-sm-9">Jeder trinkt. Erst wenn die erste Person wieder mit dem Trinken aufhört, darf auch die zweite Person das Glas wieder absetzen. So geht’s immer weiter, bis die letzte Person im Uhrzeigersinn das Glas abgesetzt hat.</dd>
                                        </dl>

                                        <h5>Alternative Zusatzregeln</h5>
                                        <ol>
                                            <li>Wird der Ring unterbrochen, muss das eigene Getränk geext werden.</li>
                                            <li>Es darf nicht „du“ gesagt werden.</li>
                                            <li>Es darf nicht „trinken“ gesagt werden.</li>
                                            <li>Es darf auf niemanden gezeigt werden.</li>
                                        </ol>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Danke!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://live.staticflickr.com/6009/6019067180_87b7b8ae1b_b.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Witz des Tages &#128514; &#128514; &#128514; </h5>
                        <p class="card-text">{{ joke }}</p>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Breaking.gif" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ clickbait }} </h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger">Mehr lesen</a>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://psycatgames.com/magazine/party-games/texting-games/feature-image_hu77a6d43339fbf42b8454129a07b986a4_1292253_1600x1200_fill_q100_box_smart1.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Sprachnachrichten-Archiv</h5>
                        <p class="card-text">Coming soon!</p>
                    </div>
                    <div class="card-footer bg-transparent border-success"><a href="#" class="btn btn-secondary">Jetzt anhören</a></div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ url_for('static', filename='img/Money.png') }}" class="d-block w-100" alt="...">
                            </div>
                            {% for files in emotes %}
                            <div class="carousel-item">
                                <img src="/static/img/moneyboy_emotes/{{files}}" class="d-block w-100" alt="...">
                            </div>
                            {% endfor %}


                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a href="{{ url_for('static', filename='img/moneyboy_emotes.zip') }}" class="btn btn-primary">Alle herunterladen.</a>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='img/Money.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gute Musik</h5>
                        <p class="card-text">Jetzt den neuesten Banger von Money Boy hören!</p>
                        <iframe width="200" src="https://www.youtube-nocookie.com/embed/5pmX-GN5AXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a href="https://www.youtube.com/channel/UClQIxKKIQskL_CsHlXQ1_uw" class="btn btn-primary">Zum Kanal von YSL</a>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076533_1280.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Feature Requests</h5>
                        <p class="card-text">Bug gefunden? Funktion fehlt? Erstelle ein Ticket auf Github!</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <a href="https://github.com/niggiover9000/EaglegangDashboard/issues" class="btn btn-primary">Ab zu Github!</a>
                    </div>
                </div>
            </div>

            <div class="py-2 px-2">
                <div class="card h-100">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Discord_booth_%2843507601795%29.jpg/800px-Discord_booth_%2843507601795%29.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Eaglegang Discord</h5>
                        <p class="card-text">Jetzt dem Eaglegang Discord beitreten!</p>
                    </div>
                    <div class="card-footer bg-transparent border-success"><a href="https://discord.gg/EpnJHuppYt" class="btn btn-primary">Lets go!</a></div>
                </div>
            </div>

        </div>
        
    </div>
    {% include "elements/footer.html" %}